@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
    .side_mobile {
        @apply fixed
    }
}

.tab-link {
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.tab-link.active {
    background-color: #5F2263;
    color: white;
}

.tab-content {
    display: none;
    padding: 0;
}

.tab-content.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inner-tab-link {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
}

.inner-tab-link.active {
    background-color: #5F2263;
    color: white;
}

.inner-tab-content {
    display: none;
    padding: 10px;
}

.inner-tab-content.active {
    display: flex !important;
}

.inner-tab-content-2 {
    display: none;
    padding: 10px;
}

.inner-tab-content-2.active {
    display: flex !important;
}

.inner-tab-link-2 {
    padding: 8px;
    background-color: #FFE7C7;
    border: none;
    cursor: pointer;
}

.inner-tab-link-2.active {
    background-color: #5F2263 !important;
    color: white;
}

.bg-color {
    background-color: #5F2263;
    color: white;
}

.star {
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.star img {
    width: 100%;
    height: 100%;
}

.star.filled img {
    filter: invert(20%) sepia(100%) saturate(7490%) hue-rotate(50deg) brightness(105%) contrast(118%);
}

.videoCss {
    width: 300px;
    border-radius: 20px;
}

.v1 {
    border-left: 1px solid;
    height: 32px;
}


#menu-container {
    width: 200px;
}

.modal {
    transition: opacity 0.2s ease-out;
}

.modal-close {
    transition: transform 0.2s ease-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.centerAll {
    justify-content: center !important;
}


.active {
    background-color: #5F2263;
    color: white;
}


.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #eee;
}

.activeFillter {
    color: #008900;
    border-color: #008900;
}

input {
    accent-color: #008900;
}

#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}

#pdf-image {
    margin-top: 20px;
}


.active {
    background-color: #5F2263;
    color: white;
}

.activeFillter {
    color: #008900;
    border-color: #008900;
}

.style {
    z-index: 4;
}

.videoCss {
    width: 300px;
    border-radius: 20px;
}

.active {
    background-color: #5F2263;
    color: white;
}

.activeFillter{
   color: #008900;
   border-color: #008900; 
}
.style{
    z-index: 4;
}
.videoCss{
    width: 100%;
    border-radius: 20px;
  }



  